= form_for @comment do |f|
  %div.row
    %div.col-md-6
      %div.form-group
        = f.label :Comment
        = f.text_area :body, :class => 'form-control', :placeholder => 'Classoto is not Facebook! Just say a quick hello.', :rows => '3'
        = f.hidden_field :user_comment_page_id, :value => @user.id
      %div.col-md-6

  %div.form-group
    = f.submit "Add Comment", :class => 'btn btn-default'