= render :partial => 'filter'
= render :partial => 'search'

%h1 Grid View of Classmates

- @users.in_groups_of(3) do |user|
  .row
    - user.compact.each do |user|
      .col-md-4
        = image_tag user.image_url(:thumb) if user.image?
        %h2= link_to(user.name, user)
        %h4
          %p
            %span.glyphicon.glyphicon-info-sign{"aria-hidden" => "true"}
            Class: #{user.cohort.cohort}
          %p
            %span.glyphicon.glyphicon-time{"aria-hidden" => "true"}
            Cohort: #{user.cohort.year}
          - if user.is_admin?
            %span.glyphicon.glyphicon-user{"aria-hidden" => "true"}
            Admin
          %p
          %span.glyphicon.glyphicon-envelope{"aria-hidden" => "true"}
          %a{:href => "mailto:#{user.email}"} #{user.email}

- if @users.length == 0
  .alert.alert-danger{:role => "alert"}
    %h4 Sorry, we can't find that user, try again!