= render :partial => 'filter'

%h1 Grid View of Classmates

- @users.in_groups_of(3) do |user|
  .row
    - user.compact.each do |user|
      .col-md-4
        .user_index
          = link_to(image_tag(user.image_url, :class => :thumb), user) 
          = image_tag user.image_url(:thumb), :class => 'profile'
          %h2= link_to(user.name, user)
          %h4
            %li
              Email:
            %li
              Class: #{user.cohort.cohort}
            %li
              Cohort: #{user.cohort.year}
            - if user.is_admin?
              %li
                Admin: #{user.is_admin}