%div.row
  %div.col-md-8
    %h1= @user.name
    %p
      = link_to('Edit user', edit_user_path(@user), :class => 'btn btn-success', :type => "button")
      - if @current_user.is_admin?
        = link_to('Delete user', @user, :method => 'delete', :class => 'btn btn-danger', :data => { :confirm => "Are you sure? "})
    %h4
      %span.glyphicon.glyphicon-envelope{"aria-hidden" => "true"}
      Email: #{@user.email}
      %p
      %span.glyphicon.glyphicon-info-sign{"aria-hidden" => "true"}
      Class: #{@user.cohort.cohort}
      %p
      %span.glyphicon.glyphicon-time{"aria-hidden" => "true"}
      Cohort: #{@user.cohort.year}
    .portrait
      = image_tag @user.image, :class => 'portrait'

    %p
    
    = render :partial => 'new_comment'

  %div.col-md-4.side
    %table.table.table-hover
    %h4 Comments for #{@user.name}
    %hr
    - @user.comments.each do |comment|
      =comment.body
      %p
        %i #{@current_user.name.capitalize} wrote this #{time_ago_in_words comment.created_at} ago
      %hr