%h1= @user.name
%p
  = link_to 'Edit user', edit_user_path(@user), :type => "button", :class => "btn.btn-info"
  = link_to 'Delete user', @user, :method => 'delete', :data => { :confirm => "Are you sure? "}
  %button.btn.btn-info{:type => "button"} Edit Broken
  %button.btn.btn-danger{:type => "button"} Delete Broken
%h4
  %li
    Email:
  %li
    Class: #{@user.cohort.cohort}
  %li
    Cohort: #{@user.cohort.year}
%p
  = image_tag @user.image, :class => 'portrait'

