<!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <%= image_tag('classoto.png', class: "img-responsive", size:"1016x280") %>
        <p class="lead">Tired off yet another "introduce yourself discussion board"? Well then, do something about it! Jump onto Classoto, upload a selfie and join your classmates on your very own interactive Class(Ph)oto</p>
        <p><a class="btn btn-primary btn-lg" href="<%= new_user_path %>" role="button">Sign Up</a></p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Why?</h2>
          <p><%= image_tag('classoto_logo.png', class: "img-responsive", size:"300x300") %></p>
          <p> Studies found that students who have frequent contact with faculty members during their college years are more satisfied with their educational experiences.<sup>1</sup></p>
          <p><a class="btn btn-default" href="<%= new_user_path %>" role="button">Sign Up</a></p>
          <p><sup>1 Cross, P. K. (1998). Why learning communities? Why now? About Campus</sup></p>
        </div>
        <div class="col-md-4">
          <h2>How?</h2>
          <p><%= image_tag('classoto_logo.png', class: "img-responsive", size:"300x300") %></p>
          <p>Remembering people’s names is crucial if you want to build strong relationships in life. Classoto makes it's really easy for academics to get to know you.</p>
          <p><a class="btn btn-default" href="<%= new_user_path %>" role="button">Sign Up</a></p>
       </div>
        <div class="col-md-4">
          <h2>What?</h2>
          <p><%= image_tag('classoto_logo.png', class: "img-responsive", size:"300x300") %></p>
          <p>Classoto is a simple, user driven site which enables student's to upload a selfie and help academics get to know them a little easier. So sign-up and enhance your student experience.</p>
          <p><a class="btn btn-default" href="<%= new_user_path %>" role="button">Sign Up</a></p>
        </div>
      </div>