= render :partial => 'filter'

%h1 List View Classmates

- @users.in_groups_of(1) do |user|
  .row
    - user.compact.each do |user|
      .col-md-2
        .thumbnail
          = link_to(image_tag(user.image), user)
        %hr
      .col-md-2
        %h4
        = link_to(user.name, user)
      .col-md-2
        %h5
          Class: #{user.cohort.cohort}
      .col-md-2
        %h5
          Cohort: #{user.cohort.year}
      .col-md-3
        %h5
          %span.glyphicon.glyphicon-envelope{"aria-hidden" => "true"} 
          %a{:href => "mailto:#{user.email}"} #{user.email}
      .col-md-1
        %h5
          - if user.is_admin?
            %span.glyphicon.glyphicon-user{"aria-hidden" => "true"}
            Admin